.clima-item {
  text-align: center;

  & td {
    &:first-child {
      background-color: rgb(135, 172, 207);
      padding: 5px;
      transition: all 300ms ease;

      &:hover {
        background-color: rgb(95, 158, 216);
        transform: translate(3px, -3px);
      }
    }
  }
  & a {
    text-decoration: none;
    color: #fff;
  }
}
